.homelists {
  margin-left: 40px;
}

.column {
  margin-left: 40px;
}

a {
  color: white;
}

a:hover {
  color: black;
}

.welcome {
  font-family: 'Syncopate', sans-serif;
  color: white;
  font-size: 3rem;
  letter-spacing: 2rem;
  margin: 40px;
  padding: 10px;
}

.lightyears {
  background-color: black;
  width: 100%;
  padding: 20px;
  margin: 50px 0 50px 0;
  opacity: .7;
}

.oppenentList {
  list-style: none;  
}

.homescreen {
  text-align: left;
  color: white;
  font-size: 2em;
}

.goHome {
  text-align: left;
  color: white;
  font-size: 1rem;
}

.goHome a {
  text-decoration: none;
}

.gameItem {
  color: blue;
  font-size: 20px;
  width: 30%;
  margin: 5px;
}

button {
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 5px;
  background-color: black;
  border-radius: 5px;
  border: none;
}

button:hover {
  border: none;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

