* {
	box-sizing: border-box;
}

#wrapper {
	width: 1100px;
	margin: auto;
}

body {
	font-family: 'Strait', sans-serif;
	background-image: url("/img/galaxybluegreen.jpg");
	/*background-image: url("/img/outerspaceXL.jpg");*/
	/*background-repeat: no-repeat;*/
	border: 0;
	margin: 0;
}


.main {
	/*background-color: black;*/
	font-family: 'Syncopate', sans-serif;
	color: white;
	font-size: 1.2rem;
	letter-spacing: 1.5rem;
	text-shadow: 4px 3px 3px rgba(75, 75, 75, 1);
	opacity: .7;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.main p {
	background-color: #6C7A89;
	padding: 10px;
	margin: 0;
	text-align: left;

}
p {
	font-size: 20px;
	text-align: center;
}



.hand li {
	font-size: 20px;
	list-style: none;
	padding: 5px;
	margin-top: 25px;
	margin-left: 25px;
}

.avatarandstack {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	background-color: black;
	width: 100%;
	padding: 10px;
	padding-top: 40px;
	-webkit-box-shadow: -20px 33px 46px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: -20px 33px 46px -8px rgba(0,0,0,0.75);
	box-shadow: -20px 33px 46px -8px rgba(0,0,0,0.75);
}

.fa-rocket {
	margin-top: .525rem;
	color: blue;
}

.avatarbox {
	background: black;
	width: 14rem;
	height: 14rem;
	margin: 40px;
	text-align: center;
	
}

.avatarbox p {
	padding: 0px 5px 0px 5px;
	color: white;
	margin: 0;

}

.fa-user {
	color: green;
	margin-top: 5px;
}

.card {
	height: 14.06rem;
	width: 10rem;
	display: inline-flex;
	margin: .3125rem;
	margin-top: 20px;
	background-color: white;
	border-radius: 5px;
}



.messageBox {
	margin: 1rem;
	margin-left: 0px;
	height: 175px;
	width: 300px;
	background-color: black;
	border-radius: 5px;
	
	
}

.messageBox p {
	margin-top: 10px;
	padding: 0px 5px 0px 5px;
	color: white;
}

.status {
	margin-bottom: 5px;
}

.messageBox h1 {
	font-size: 3em;
	margin: 0px;
	color: #fb2e01;
	text-align: center;
}

.stack {
	height: 14.06rem;
	width: 10rem;
	background-color: white;
	border-radius: 5px;
	margin: 1rem;
	margin-right: 40px;
	
	
}

.fa-map-marker {
	color: #fb2e01;
	margin-left: 55px;
	margin-top: 20px;
}

.deck {
	
	color: white;
	height: 14.06rem;
	width: 10rem;
	background-color: white;
	border-radius: 5px;
	margin: 1rem;
	
}

.deck p {
	margin-top: 100px;
	font-size: 1.5em;
	color: black;
}

/*.score {
	background: black;
	width: 10rem;
	height: 10rem;
	margin: 40px;
	text-align: center;
	color: white;
	
}*/


